name: Publish Python Package

on:
  push:
    tags:
      tags:
      - 'v*'
      - 'V*'

jobs:
  build-and-publish:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout code
        uses: actions/checkout@v3

      # Step 2: Set up Python environment
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x" # Replace with the Python version you want

      # Step 3: Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install build twine

      # Step 4: Run tests
      - name: Run tests
        run: |
          python -m pip install pytest
          python -m pip install -e .
          pytest tests

      # Step 5: Build the package
      - name: Build the package
        run: |
          python -m build

      # Step 6: Publish to PyPI
      #- name: Publish to PyPI
      #  env:
      #    TWINE_USERNAME: __token__
      #    TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      #  run: |
      #    python -m twine upload dist/*
